{% extends 'base.html' %}
{% block content %}
<h1 class="text-center mb-3">Polls and voting</h1>
{% if all_questions %}
{% for question in all_questions %}
<div class="container col-5 mb-3 mt-4">
<div class="card-mb-3">
    <div class="card-body">
        <p class="lead">{{ question.name }}</p>
        <a href="{% url 'polls:detail' question.id %}" class="btn btn-primary btn-sm">Vote</a>
        <a href="{% url 'polls:results' question.id %}" class="btn btn-secondary btn-sm">Results</a>
    </div>
</div>
</div>
{% endfor %}
{% else %}
<p>No polls yet - create a new one</p>
{% endif %}
{% endblock %}